<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.birthdate %>
</p>

<hr/>
<h2>Historial</h2>
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Descripción</th>
      <th>Peso</th>
      <th>Altura</th>
    </tr>
  </thead>

  <tbody>
    <% @pet.pet_histories.each do |pet| %>
    <tr>
      <td><%= pet.created_at %></td>
      <td><%= pet.description %></td>
      <td><%= pet.weight %></td>
      <td><%= pet.heigth %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr/>


<table>
  <thead>
    <tr>
      <th>Peso promedio</th>
      <th>Altura promedio</th>
      <th>Peso Máximo</th>
      <th>Altura Máxima</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @pet.avg_weight %></td>
      <td><%= @pet.avg_height %></td>
      <td><%= @pet.max_weight %></td>
      <td><%= @pet.max_height%></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_client_pet_path(@pet) %> |
<%= link_to 'Back', client_pets_path(@client) %>
